<h1><%= @recipe.name %></h1>
<hr>
  <div class="col-md-4 col-md-offset-4">
      <div class="thumbnail">
        <div class="caption">
          <p>Calories: <%= @recipe.calories %><br>
            Servings: <%= @recipe.servings %></p>
            <%= link_to "Edit Recipe", edit_recipe_path(@recipe) %>
            <%= link_to "Delete Recipe", recipe_path(@recipe), method: :delete %>
        </div>
      </div>
  </div>
