<div class="container">
  <h1><%= @recipe.name %></h1>
  <hr>
</div>
<div class="container">
  <div class="col-md-4 col-md-offset-4">
    <div class="thumbnail">
      <div class="caption">
        <p>Calories: <%= @recipe.calories %><br>
          Servings: <%= @recipe.servings %></p>
          <%= button_to "Edit Recipe", edit_recipe_path(@recipe), method: :get, class: "btn btn-default" %>
          <%= button_to "Delete Recipe", recipe_path(@recipe), method: :delete, class: "btn btn-default" %>
      </div>
    </div>
  </div>
</div>
