  <h1><%= @recipe.name %></h1>
  <hr>
<div class="container">
  <div class="col-md-4 col-md-offset-4">
    <div class="thumbnail">
      <div class="caption">
        <p><strong>Total Calories:</strong> <%= @recipe.calories %><br>
           <strong>Servings:</strong> <%= @recipe.servings %><br>
           <strong>Calories per Serving:</strong> <%= @recipe.calories_per_serving %></p>
          <hr>
          <%= button_to "Edit Recipe", edit_recipe_path(@recipe), method: :get, class: "btn btn-default" %>
          <%= button_to "Delete Recipe", recipe_path(@recipe), method: :delete, class: "btn btn-default" %>
      </div>
    </div>
  </div>
</div>
