  <h1><%= "#{@user.username.capitalize}" %>'s Meal Plans</h1>
  <%= button_to "Create New Meal Plan", new_user_day_path(@user), method: :get, class: "btn btn-default" %>
  <hr>
  <% @days.each do |day| %>
    <div class="col-sm-6 col-md-2">
      <div class="thumbnail">
        <div class="caption">
        <h4><%= link_to day.date.strftime('%A, %B %d, %Y'), user_day_path(@user, day) %></h4>
        <hr>
        <% day.recipes.each do |recipe| %>
          <h5><%= recipe.name %></h5>
          <h6>Calories per Serving: <%= recipe.calories_per_serving %><br></h6>
          <hr>
        <% end %>
         <strong>Total Calories:</strong> <%= day.total_calories %>
         <hr>
        <%= button_to "Edit Meal Plan", edit_user_day_form_path(@user, day), method: :get, class: "btn btn-default" %>
        <%= button_to "Delete Meal Plan", user_day_path(@user, day), method: :delete, class: "btn btn-default" %>
      </div>
    </div>
  </div>
  <% end %>
