  <h1><%= "#{@user.username.capitalize}" %>'s Meal Plans</h1>
  <%= button_to "Create New Meal Plan", new_user_day_path(@user), method: :get, class: "btn btn-default" %>
  <hr>
<div class="container">
  <% @days.each do |day| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="caption">
        <h3><%= link_to day.date.strftime('%A, %B %d, %Y'), user_day_path(@user, day) %></h3>
        <% day.recipes.each do |recipe| %>
          <h3><%= recipe.name %></h3>
          <p>Calories pre Serving: <%= recipe.calories_per_serving %><br></p>
        <% end %>
        <hr>
         <strong>Total Calories:</strong> <%= day.total_calories %>
         <hr>
        <%= button_to "Edit Meal Plan", edit_user_day_form_path(@user, day), method: :get, class: "btn btn-default" %>
        <%= button_to "Delete Meal Plan", user_day_path(@user, day), method: :delete, class: "btn btn-default" %>
      </div>
    </div>
  </div>
  <% end %>
</div>
