<%= form_for(:day_form,
             html: {id: 'day_form'},
             url: day_forms_path) do |f| %>

  <%= f.hidden_field(:date, name: 'day_form[date]', value: @day.date) %>
  <%= f.hidden_field(:user_id, name: 'day_form[user_id]', value: @day.user.id) %>

  <h3><%= f.label :breakfast %>:</h3>
  <%= select("day_form", "breakfast_id", Recipe.all.collect {|r| [r.name, r.id]}) %>

  <br>
  <br>

  <h3><%= f.label :lunch %>:</h3>
  <%= select("day_form", "lunch_id", Recipe.all.collect {|r| [r.name, r.id]}) %>

  <br>
  <br>

  <h3><%= f.label :dinner %>:</h3>
  <%= select("day_form", "dinner_id", Recipe.all.collect {|r| [r.name, r.id]}) %>

  <br>
  <br>

  <h3><%= f.label :snack %>:</h3>
  <%= select("day_form", "snack_id", Recipe.all.collect {|r| [r.name, r.id]}) %>

  <br>
  <br>
  <br>

  <%= f.submit "Create Meal Plan" %>
  
<% end %>
