<div class="container">
  <h1> Meal Plan for: </h1>
    <h3><%= "#{@day.date.strftime('%A, %B %d, %Y')}" %></h3>
  <hr>
</div>

<div class="container text-center">
  <% @recipes.each do |recipe| %>
    <h3><%= recipe.name %></h3><br>
    <p><%= recipe.calories %><br>
    <%= recipe.servings %></p>
  <% end %>
  <br>
  <hr>
  <strong>Total Calories:</strong> <%= @day.total_calories %>
  <%= button_to "Edit Meal Plan", edit_user_day_path(@day.user, @day), method: :get, class: "btn btn-default" %>
  <%= button_to "Delete Meal Plan", user_day_path(@day.user, @day), method: :delete, class: "btn btn-default" %>
</div>
