<!DOCTYPE html>
<html>
  <head>
    <title>MealPlanner</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Meal Planner</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <!-- <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Recipes
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="/recipes">View All Recipes</a>
            </li>
            <li>
              <a href="/recipes/new">New Recipe</a>
            </li>
          </ul>
        </li> -->
        <li>
          <a href="/login">Login</a>
        </li>
      </ul>
    </div>
  </div>
  </nav>
  <% flash.each do |_name, msg| %>
    <% if flash[:notice] %>
      <div class="alert alert-danger text-center">
        <strong>Error!</strong><br><hr>
        <%= msg %>
      </div>
    <% else %>
      <div class="alert alert-success" role="alert">
        <strong>Success!</strong><br><hr>
        <%= msg %>
      </div>
    <% end %>
    <% end %>

  <div class="container-fluid text-center">
  <%= yield %>
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  </body>
</html>
