<!DOCTYPE html>
<html>
  <head>
    <title>MealPlanner</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Meal Planner</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <% if current_user %>
          <li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden="true"> <%= "Welcome, #{current_user.username.capitalize}" %></span>
                  <span class="caret"></span>
                </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="/users/<%="#{current_user.id}"%>">Your Account</a>
                </li>
              </ul>
            </li>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Recipes
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="/recipes">View All Recipes</a>
              </li>
              <li>
                <a href="/recipes/new">New Recipe</a>
              </li>
            </ul>
          </li>
          <li>
            <%= link_to 'Logout', logout_path, method: :delete %>
          </li>
          <% end %>
          <% unless current_user %>
            <li>
              <a href="/users/new">Create Account</a>
            </li>
            <li>
              <a href="/login">Login</a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  </nav>
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>

  <div class="container-fluid text-center">
  <%= yield %>
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  </body>
</html>
